css
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background-color: #000d0f;
}

header {
    background: #b93763;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.card {
    background: #ffffff;
    border: 2px solid #020202;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    text-align: center;
}

.card img {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 0;
    width: 100%;
}
